# External libraries
extern/SDL*
extern/openvr*

# External library cache
/cache

# Build directories
/build*/
/cmake-build*/
/out/
/dist/

# IDEs
.vs/
/.vscode
/.idea
*.aps

# macOS metadata
.DS_Store

